/* Reset default margin and padding for all elements */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
}

/* Header Styles */
header
{
  display: flex;
  width:100%;
  height: 200px;
  background-color: white;

}
.logo h2
{
  margin: 20px;
  margin-left: 10px;
}
.logo img{
  height: 100px;
  width: 100px;
}

nav{
  text-decoration: none;
  padding-top: 150px;
  padding-left: 700px;
}
nav a{

  font-size: x-large;
  text-decoration: none;
  color: black;
  margin-right: 30px;
}

/* Hero Section Styles */
.hero {
  background-color: rgba(13, 118, 181, 1); /* Adjust color and opacity */
  color: #fff;
  padding: 100px 20px;
  text-align: center;
  background-image: url("/Users/joshuasingrew/Documents/GitHub/safe-source-secure-/images/blue-metal-texture-background_46250-209.avif");
}


.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.cta-button:hover {
  background-color: #555;
}
.card img {
  width: 70%;
  height: 100%;
  object-fit: contain;
  align-items: left;
  justify-content: left;
}
/* About Us Section Styles */
.about-us {
  padding: 100px 20px;
  text-align: center;
  background-image: url("/Users/joshuasingrew/Documents/GitHub/safe-source-secure-/images/istockphoto-1084063188-612x612.jpg");
  color: #fff;
}

/* Contact Section Styles */
.contact {
  background-color: #C0C0C0;
  color: #fff;
  padding: 50px 20px;
  text-align: center;
  border: #C0C0C0 1px solid;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
.Trust-us{
  padding-top: 40px;
  font-size: larger;
}

.services {
  text-align: center;
  padding: 20px;
  color: black;
  background-image: url("/Users/joshuasingrew/Documents/GitHub/safe-source-secure-/images/istockphoto-1026493200-612x612.jpg");
}

.card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.service {
  margin: 10px;
  flex-basis: 30%;

}

.img {
  border-radius: 10px;
  transition: transform 0.2s;
}

.img:hover {
  transform: scale(1.05);
}
.socials{
  width: 10;
  height: 10;
}
header .page-top{
  border: 1px solid black;
  padding-bottom: 20px;
  background-color: darkred;
}
Header p{
  background-color: blue;
  padding-right: 0%;
}
